body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(38, 131, 38);
}

.caixa {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(6, 83, 6);
    text-align: center;
}

.caixa input[type="text"], .caixa input[type="senha"] {
    border: 2px solid white;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color: whitesmoke;
    border-radius: 18px;
    transition: 0.25s;
    text-align: center;
}

.caixa input[type="submit"] {
    border: 2px solid rgb(4, 61, 4);
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 40px;
    outline: none;
    color: whitesmoke;
    border-radius: 18px;
    transition: 0.25s;
    cursor: pointer;
}

.caixa input[type="submit"]:hover {
    background: rgb(16, 184, 7);
    border: 2px solid black;

}

.caixa input[type="text"]:focus, .caixa input[type="senha"]:focus {
    width: 270px;
    border-color: rgb(13, 255, 0);
}

.caixa h1 {
    color: whitesmoke;
    font-weight: 600px;
    font-size: 50px;
    text-shadow: black;

}