body {
    background: #fafafa;
  }
  
  .dinosaur {
    position: absolute;
    bottom: 0;
    background-image: url("../img/dinoUpgrade.png");
    width: 60px;
    height: 60px;
  }
  
   .cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url('../img/cactus.png');
  }
  
  .gameover {
    text-align: center;
    color: rgb(90, 90, 90);
    margin: 50px 0;
    font-family: arial;
  }

  .p {
    text-align: center;
    color: rgb(29, 29, 29);
    margin: 50px 0;
    font-family: arial;
  }
  
  @keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  .background {
    position: absolute;
    bottom: 0px;
    background-image: url('../img/background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
  }